@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

* {
  font-family: "Poppins", serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #f1f0f6;
  --dark-grey: #8d8d8d;
  --light: #fff;
  --dark: #000;
  --green: #81d43a;
  --light-green: #e3ffcb;
  --blue: #1775f1;
  --light-blue: #d0e4ff;
  --dark-blue: #0c5fcd;
  --red: #fc3b56;
  --primary-text: #444b55;
  --error: #ef4444;
  --border: #e3e3e3;
  --primary-table: #cfe2ff;
}

body {
  background: var(--grey);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* SIDEBAR */
#sidebar {
  position: fixed;
  max-width: 260px;
  width: 100%;
  background: var(--light);
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  transition: all 0.3s ease;
  z-index: 200;
}
#sidebar.hide {
  max-width: 60px;
}
#sidebar.hide:hover {
  max-width: 260px;
}
#sidebar::-webkit-scrollbar {
  display: none;
}
#sidebar .brand {
  font-size: 24px;
  display: flex;
  align-items: center;
  height: 64px;
  font-weight: 700;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--light);
  transition: all 0.3s ease;
  padding: 0 6px;
}
#sidebar .icon {
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 6px;
}
#sidebar .icon-right {
  margin-left: auto;
  transition: all 0.3s ease;
}
#sidebar .side-menu {
  margin: 36px 0;
  padding: 0 20px;
  transition: all 0.3s ease;
}
#sidebar.hide .side-menu {
  padding: 0 6px;
}
#sidebar.hide:hover .side-menu {
  padding: 0 20px;
}
#sidebar .side-menu a {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--dark);
  padding: 12px 16px 12px 0;
  transition: all 0.3s ease;
  border-radius: 10px;
  margin: 4px 0;
  white-space: nowrap;
}
#sidebar .side-menu > li > a:hover {
  background: var(--grey);
}
#sidebar .side-menu > li > a.active .icon-right {
  transform: rotateZ(90deg);
}
#sidebar .side-menu > li > a.active,
#sidebar .side-menu > li > a.active:hover {
  background: var(--blue);
  color: var(--light);
}
#sidebar .divider {
  margin-top: 24px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--dark-grey);
  transition: all 0.3s ease;
  white-space: nowrap;
}
#sidebar.hide:hover .divider {
  text-align: left;
}
#sidebar.hide .divider {
  text-align: center;
}
#sidebar .side-dropdown {
  padding-left: 54px;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.15s ease;
}
#sidebar .side-dropdown.show {
  max-height: 1000px;
}
#sidebar .side-dropdown a:hover {
  color: var(--blue);
}
/* SIDEBAR */

/* CONTENT */
#content {
  position: relative;
  width: calc(100% - 260px);
  left: 260px;
  transition: all 0.3s ease;
}
#sidebar.hide + #content {
  width: calc(100% - 60px);
  left: 60px;
}

/* NAVBAR */
nav {
  background: var(--light);
  padding: 10px 20px;
  display: flex;
  align-items: center;
  grid-gap: 28px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
}
nav .toggle-sidebar {
  font-size: 18px;
  cursor: pointer;
}
nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}
nav .form-group {
  position: relative;
  display: flex;
  align-items: center;
  background: var(--grey);
  border-radius: 5px;
}
nav .form-group input {
  width: 100%;
  background: var(--grey);
  border-radius: 5px;
  border: none;
  outline: none;
  padding: 10px 36px 10px 16px;
  transition: all 0.3s ease;
}
nav .form-group input:focus {
  box-shadow: 0 0 0 1px var(--blue), 0 0 0 4px var(--light-blue);
}
nav .form-group .icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: var(--dark-grey);
}
nav .divider {
  width: 1px;
  background: var(--grey);
  height: 12px;
  display: block;
}
nav .profile {
  position: relative;
}
nav .profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}
nav .profile .profile-link {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  background: var(--light);
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 160px;
  opacity: 0;
  transition: all 0.3s ease;
  border: solid 1.5px var(--border);
}
nav.profile .profile-link .hidden {
  display: none;
}
nav .profile .profile-link.show {
  opacity: 1;
  pointer-events: visible;
  top: 100%;
}
nav .profile .profile-link a {
  padding: 10px 16px;
  display: flex;
  grid-gap: 10px;
  font-size: 14px;
  color: var(--dark);
  align-items: center;
  transition: all 0.3s ease;
}
nav .profile .profile-link a:hover {
  background: var(--grey);
}
nav .profile .greetings {
  padding: 10px 15px;
  margin-bottom: 10px;
  border-bottom: solid 1.5px var(--border);
}
nav .profile .logout {
  padding: 0px 15px 10px;
  display: flex;
  align-items: center;
  gap: 3px;
  cursor: pointer;
}
nav .profile .ic-logout {
  width: 25px;
  height: auto;
  object-fit: contain;
}
nav .profile .text-logout {
  color: var(--error);
}
/* NAVBAR */

/* MAIN */
.main-content {
  padding: 25px;
}
.main-content .main-title {
  margin-bottom: 20px;
  color: var(--primary-text);
}
.main-content .hide {
  display: none;
}
.main-content .active {
  display: block;
}
table {
  width: 100%;
  border-collapse: collapse;
  background-color: var(--light);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
th,
td {
  padding: 12px;
  border: 1px solid var(--border);
  text-align: center;
}
th {
  background-color: var(--primary-table);
  color: var(--primary-text);
}
table .btn-warning {
  background-color: #ffc107;
  color: var(--primary-text);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}
table .btn-danger {
  background-color: #dc3545;
  color: var(--light);
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
}
.btn-add-user {
  background-color: #0d6efd;
  color: var(--light);
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  cursor: pointer;
  display: block;
  margin-bottom: 40px;
}
.btn:hover {
  opacity: 80%;
}
/* MAIN */

/* CONTENT */

@media screen and (max-width: 768px) {
  #content {
    position: relative;
    width: calc(100% - 60px);
    transition: all 0.3s ease;
  }
  nav .nav-link,
  nav .divider {
    display: none;
  }
}
